<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'nip/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <link rel="stylesheet" href="../../static/nip/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Registration: NIP</title>
    <style>
    .left-LOGO1{
        margin: -55px 0px 0px -35px;
}
    .header1{
    margin: 0px 0 0 0;
    height: 65px;
    }
    .main-content h2{
        margin: 0px 0px 40px 0;
        font-size: 2em;
    }
    .form input{
        margin: 15px;
    }
    .main-content{
        margin-left: 100px;
    }
    </style>
</head>
<body>
    <div class="wrapper">
            <div class="header header1">
                    <div class="left-LOGO left-LOGO1">
                        <a href="/home"><img class="logo" src="https://mir-cdn.behance.net/v1/rendition/project_modules/disp/70702f63826029.5abd519e04f31.png" alt="nip_logo" /></a>
                    </div>
                    <div class="right-boxes">
                            <div class="logout-button">
                                    <a href="/map">Map</a>
                                </div>
                            <div class="profile-button">
                                <a href="/profile/{{request.session.id}}">Profile</a>
                            </div>
                            <div class="logout-button">
                                <a href="/logout">Logout</a>
                            </div>
                        </div>
                </div>
        <div class="main-content">
            <h2>Just a few quick questions...</h2>
            {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {%endfor%}
            {%endif%}
            <form method="post" action="/socials_process" class='form'>
                {% csrf_token %}
                Who are you?
                <input type="radio" class="radioButton" name="type">
                    Instructor
                <input type="radio" class="radioButton" name="type">
                    Student
                <br>
                What are your socials? (paste links to profiles)
                <br>
                LinkedIn <input type="text" name="linkedin">
                <br>
                Facebook <input type="text" name="facebook">
                <br>
                GitHub <input type="text" name="github">
                <br>
                Slack <input type="text" name="slack">
                <br>
                Instagram <input type="text" name="instagram">
                <br>
                Twitter <input type="text" name="twitter">
                <br>
                Would you be willing and available to help other students?
                <br>
                <input type="radio" class="radioButton" name="help" value="yes">
                Yes
               <input type="radio" class="radioButton" name="help" value="no"> 
                No
                <br>
                <input type="submit" name="submit" value="Move On!" class="button">
            </form>
    </div>
    </div>
</body>
</html>